{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}detail of {{ selected_project.project_number }}{% endblock %}</title>
</head>
<body>
{% block content %}
    {{ block.super }}

    <div class="list-group">
        {% for included_element in selected_project.included_element.all %}
            <div class="list-group list-group-horizontal">
                <a href="/projects/"
                   class="list-group-item list-group-item-action success">{{ included_element.element_tag }}</a>
                <a href="#"
                   class="list-group-item list-group-item-action">{{ included_element.element_material.order_number }}</a>
            </div>
            {#            <a href="#" class="list-group-item list-group-item-action">#}
            {#                {{ included_element }}#}
            {#            </a>#}
        {% endfor %}
    </div>


{% endblock %}
</body>
