<!DOCTYPE html>
{% extends 'base_backup.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {{ block.super }}
    {% for element in module.element.all %}
        <ul>
            <li>
                <a href="/tags/{{ element.tag.pk }}">{{ element.element_tag }}</a>|
                <a href="/materials/{{ element.element_material.pk }}">{{ element.element_material }}</a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
</body>
</html>